config online-watchdog
	option initialtimeout '60'
	option pingtimeout '15'
	option pingfailtimeout '5'
	option restartdelay '5'
	option sequentialfailslimit '3'
	option recoveryfaildelaymult '2'
	option maxrecoveryfaildelay '3600'
	list pingtarget 'google.com'
	list pingtarget 'yandex.ru'
	list pingtarget 'wikipedia.org'
	list pingtarget 'mail.ru'
	list pingtarget 'github.com'
	list stopservice 'miredo-client'
	list stopinterface 'modem'
	list startinterface 'modem'
	list startservice 'miredo-client'
	option stopwifi '0'
	option startwifi '0'
