# system configuration
config system
# minimal sizes for net.ipv4.route.max_size and net.ipv6.route.max_size params
# will me automatically increased if smaller than this values
	option minv4rtsz '262144'
	option minv6rtsz '262144'

# multiple instances supported

config instance
# mandatory params
	option enabled '0'
	option listen '127.0.0.1'
	option port '33777'
	option ifname 'eth1'
# optional params
	option routeprio '25'
	option blockprio '26'
#	option gateway4 '192.168.10.1'
#	option gateway6 'fe80::1010'
	option extrattl '9000'
	option mgint '5'
	option mgperc '5'
	option mgretr '40'
