#multiple instances allowed

config instance
#mandatory params:
	option enabled '0'
	option listen '192.168.1.1'
	option port '1080'
#optional params:
#	option dns '192.168.1.1'
#	option domain 'lan'
#	option username 'dummy'
#	option password 'qwerty'
	option connect_timeout '20'
	option connect_mintime '5'
	option buffer_size '65536'
	option socket_timeout_ms '5000'
	option linger_timeout '30'
#	option network_namespace '/var/run/netns/example'
