config netns
	option enabled '0'
	option ifname 'srv'
	option nsname 'service'
# optional params
	option ipv4addr '192.168.1.2/24'
#	option ipv6addr ''
	option gateway4 '192.168.1.1'
#	option gateway6 ''
# populate resolv.conf
	option resolv '192.168.1.1'
# populate hosts
	option hosts '1'
# populate hostname
	option hostname 'service'
